.page_home {
    .intro-screen .animate-circle {
        top: 50%;
        left: -10%;
        transform: translate(10%, -50%);

        @media(max-width: em(900)) {
            top: -5%;
            left: -40%;
            transform: translate(-40%, -5%);
        }
    }
    .intro-screen__content {
        @media(max-width: em(900)) {
            position: relative;
            flex-direction: column-reverse;

            .grid {
                position: absolute;
                top: -10%;
                min-width: rem(536);
                z-index: -1;
                opacity: 0.5;

                @media(max-width: $mobileSmall) {
                    top: 20%;
                }
            }
        }
    }
    .intro-screen h1 {
        @media(max-width: em(900)) {
            position: relative;
            margin-bottom: rem(32);
        }
    }
}
