// * HOME PAGE
.home-page {
    .intro-screen {
        @include adaptiveValue('margin-bottom', 168, 96, 0);
    }
    .intro-screen .animate-circle {
        top: 50%;
        left: -10%;
        transform: translate(10%, -50%);

        @media(max-width: em(900)) {
            top: -5%;
            left: -20%;
            transform: translate(-10%, -5%);
        }
        @media(max-width: $mobileSmall) {
            top: -5%;
            left: -40%;
            transform: translate(-10%, -5%);
        }
    }
    .intro-screen__content {
        @media(max-width: em(900)) {
            position: relative;
            flex-direction: column-reverse;

            .grid {
                position: absolute;
                top: -10%;
                min-width: rem(536);
                z-index: -1;
                opacity: 0.5;

                @media(max-width: $mobileSmall) {
                    top: 20%;
                }
            }
        }
    }
    .intro-screen h1 {
        @media(max-width: em(900)) {
            position: relative;
            margin-bottom: rem(32);
        }
    }
    #s-about {
        @include adaptiveValue('margin-bottom', 168, 96, 0);
    }
    #s-jobs {
        position: relative;
    }
    #s-jobs .cards-grid {
        margin-bottom: rem(72);
        @media(max-width: $mobileSmall) {
            margin-bottom: rem(64);
        }
    }
    #s-jobs .animate-circle {
        top: 50%;
        left: -10%;
        transform: translate(10%, -50%);

        @media(max-width: $mobileSmall) {
            top: 50%;
            left: -40%;
            transform: translate(-40%, -50%);
        }
    }
}

// * ABOUT PAGE
.about-page {
    .intro-screen__title {
        max-width: rem(440);
    }
    .s-anchievements {
        position: relative;
        .animate-circle {
            bottom: 20%;
            left: -20%;
            @media(max-width: $tablet) {
                left: -40%;
            }
            @media(max-width: $mobile) {
                left: -70%;
            }
            @media(max-width: $mobileSmall) {
                left: -100%;
            }
        }
        .info-grid {
            margin-bottom: rem(32);
            @media(max-width: $mobileSmall) {
                margin-bottom: rem(72);
            }
        }
    }
}

// * TEAM PAGE 
.team-page {
    .intro-screen__title {
        max-width: rem(300);
    }
    .icons-block__item {
        @media(max-width: $mobileSmall) {
            grid-template-rows: rem(48) 1fr;
        }
    }
}

// * EMPLOYEE PAGE 
.employee-page {
    .s-hobby {
        position: relative;
        .animate-circle {
            bottom: 30%;
            left: -20%;
            @media(max-width: $tablet) {
                left: -40%;
            }
            @media(max-width: $mobile) {
                left: -70%;
            }
            @media(max-width: $mobileSmall) {
                left: -100%;
            }
        }
    }
    &__quote {
        display: grid;
        grid-template-columns: 1fr 3fr 3fr;
        gap: rem(40);

        @media(max-width: $tablet) {
            grid-template-columns: 1fr 7fr;
            gap: rem(10);
            div {
                &:nth-child(3){
                    grid-column: 2 / 3;
                }
            }
            b {
                display: block;
                text-align: right;
            }
        }

        p {
            @extend %geometria16-14-regular;
            &:not(:last-child) {
                margin-bottom: rem(32);
            }
        }
    }
}

// * 404 PAGE
.page-404 {   
    .intro-screen__content {
        @media(max-width: $mobile) {
            flex-direction: column;

            .intro-screen__titles {
                margin-bottom: rem(32);
            }
        }
    }
    &__content {
        max-width: rem(384);
        h2 {
            color: $white;
            margin-bottom: rem(32);
        }
        h2 + span {
            @extend %geometria24-18-medium;
            margin-bottom: rem(8);
        }
        p {
            @extend %geometria16-14-regular;
            margin-bottom: rem(40);
            @media(max-width: $mobileSmall) {
                margin-bottom: em(32);
            }
        }
    }
}
